body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,a {margin:0;padding:0;}

img {border-style:none;}
ul,li {list-style-type:none;}
form {margin:0;padding:0;}
body {font-size:1.3em;font-family:Microsoft Yahei,"Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;color:#2c3e50;line-height:150%; background:#fff;}
input {font-size:12px;color:#313030;line-height: 17px;}
select {border: 1px solid #744219;font-size: 12px;color: #313030;}
.clearboth {line-height:0px;height:0px;clear:both;*display:inline; font-size:0px;}

button{margin:0;padding:0;border:0; cursor:pointer}
i,em{ font-style:normal}

h1 {font-size: 2em;margin: 0.67em 0;}
h2 {font-size: 1.5em;margin: 0.83em 0;}
h3 {font-size: 1.17em;margin: 1em 0;}
h4 {font-size: 1em;margin: 1.33em 0;}
h5 {font-size: 0.83em;margin: 1.67em 0;}
h6 {font-size: 0.67em;margin: 2.33em 0;}

a{text-decoration:none;}
a:visited,a:link {color:#205f8a;text-decoration:none;border-style:none;}
a:hover {color:#205f8a;text-decoration:none;border-style:none;}

.margin_auto {margin-right:auto;margin-left:auto;}
.margin_top10 {margin-top:10px;}
.margin_top5 {margin-top:5px;}

.txtR {text-align: right;}
.txtL { text-align: left;}
.txtC { text-align: center;}

.fl{float: left;}
.fr{float: right;}

.line {height:1px;line-height:0;font-size:0;border-bottom:1px solid #e3e3e3; margin:20px 0}

/* new clearfix */
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
* html .clearfix{ zoom: 1;}/*IE6*/
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
.gray { color:#ccc}

/*--------General----------*/
.background{background-color:#4a86c3;}
.background1{background-color:#84bade;}
.background2{background-color:#ff9a00;}
.background3{background-color:#eee;}

.fontRed{color: #d01a14;font-weight: bold}

.padding1{padding: 18px 0 45px 0;}

.header-wrapper {background-color: #4a86c3;}
.header-wrapper:after {
    display: block;
    margin-top: -2px;
    height: 24px;
    width: 100%;
    content: " ";
    background: #4a86c3 url(../img/tear_bg.png) top center repeat-x;
    position: absolute;
    z-index: 10;
    background-color: transparent;
}
.header-title{
    color: white;font-size: x-large;line-height:60px;
}

 @media all and (min-width: 768px) {
     .carousel-indicators{
         bottom: 50px;!important;
     }
     .myCarouselMargin{
         position:relative;
         margin-top: 83px;
     }
     .carouselImg{
         height: 45em;
     }
     .carouselImg img{height: 45em;}
     .videoTop {
         position: absolute;
         height: auto;
         margin: 0 auto;
         text-align: center;
         z-index: 5;
         top: 40%;
         left: 50%;
         display: inline-block;
         vertical-align: middle;
     }
     .videoClose {
         position: absolute;
         z-index: 10001;
         top: 2%;
         left: 12.3%;
         display: none;
     }
     .myTabPostion{
         position: relative;  z-index: 5;  top: -49px;
     }
 }

@media all and (max-width: 45em) {
    .padding1{padding:10px 0 5px 5px;}
    .header-title{color: white;font-size: large;line-height:50px;}
    .carousel-indicators{
        bottom: 10px;!important;
    }
    .myCarouselMargin{
        position:relative;
        margin-top: 73px;
    }
    .carouselImg{
        height: auto;
    }
    .carouselImg img{height: auto;}
    .videoTop {
        position: absolute;
        height: auto;
        margin: 0 auto;
        text-align: center;
        z-index: 5;
        top: 40%;
        left: 50%;
        display: inline-block;
        vertical-align: middle;
    }
    .videoClose {
        position: absolute;
        z-index: 10001;
        top: 2%;
        left: 12.3%;
        display: none;
    }
    .myTabPostion{
        position: relative;  z-index: 5;  top: 0px;
    }
}



.play-video-btn {
    height: 70px;
    width: 70px;
    text-align: center;
}

.play-video-btn img {
    cursor: pointer;
    position: relative;
    z-index: 2;
    height: 70px;
    width: 70px;
}

@media (max-width: 767px) {
    .play-video-btn,.play-video-btn img{
        height: 30px;
        width: 30px;
    }
}

.play-video-btn:after {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 10px;
    margin-top: -40px;
    background: transparent url("../img/dotted-line.png") repeat-x;
    content: '';
}

@media all {
    .nav-pills{
        background: transparent;
    }
    .nav-pills > li {
        text-align: center;
        margin: 0 5px 0 5px;
    }
    .nav-pills > li > a {
        color: #313030;
        background-color: #ecf0f1;
        border-radius: 0;
    }

    nav-pills > li > a:focus, .nav-pills > li > a:hover {
        color: #205f8a;
        background-color: #ecf0f1;
        border-radius: 0;
    }

    .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
        -moz-transition: background-color 1s;
        -o-transition: background-color 1s;
        -webkit-transition: background-color 1s;
        transition: background-color 1s;
        cursor: pointer;
        color: #fff;
        background-color: #84bade;
    }

    .tab-content{
        min-height: 800px;
    }
    .absoluteRow{
        padding-bottom: 20px;min-height: 800px;
    }
    .absoluteRow1{
        padding:50px 10px;color: white;line-height: 150%;font-size: 1.5em;
    }
}
@media (min-width: 767px) {
    .nav-pills > li {
        width: 24%;
    }
    .nav-pills > li > a {
        font-size: 1.5em;
        line-height: 150%;
    }
}
@media (max-width: 767px) {
    .nav-pills > li {
        width: 24%;
        margin: 0 1px 0 1px;
        padding: 0;
    }
    .nav-pills > li > a {
        font-size: 1.2em;
        line-height: 120%;
        padding: 10px 5px;
    }
}
.navbar-nav{
    background-color: #205f8a;
    text-align: center;
    font-size: 1.2em;
    border-radius: 4px;
    color: #fff;
}
.navbar-nav > li{
    -moz-transition: 500ms;
    -o-transition: 500ms;
    -webkit-transition: 500ms;
    transition: 500ms;
}
.navbar-inverse .navbar-nav > li > a{
    padding: 10px;
    color: #fff;
}
.navbar-nav li:hover {
    background-color: #84bade;
    border-radius: 4px;
}

.header-bar{
    color:#fff;
}
.header-bar :hover{
    color:#fff;
    background-color: #ecf0f1;
}

.padding {
    padding: 20px 10px 0 10px;
}

.myTabPadding {
    padding-bottom:20px;
}
.myTabPadding1 img{
    width: 240px;
}

.music0{}
.music1{}
.music2{}

.description {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    height: auto;
    color: #fff;
    line-height: 150%;
    text-align: left;
}

.descriptionTitle {
    color: #fff;
    line-height: 200%
}

.descriptionIcon {
    background: url("../images/bgIco.png") no-repeat;
    background-size: 100px 100px;
    padding: 10px;
    text-align: center;
    position: relative;
    display: inline-block;
}

.teacher{
    text-align:center;
    font-size:30px;
    color:#fff;
    padding:20px 0 20px 0;
}
.teacher1{
    font-size:50px;
}
.teacher2{
    font-size:40px;
}
@media (max-width: 767px) {
    .navbar-nav li{
        font-size: 1.5em;
        border-bottom: solid #205f8a 1px;
    }
    .myTabPadding {
        padding-bottom:20px;
        margin-top: 20px;
    }
    .myTabPadding1 img{
        width: 160px;
    }
    .music0{border-bottom: 1px dotted #205f8a;margin-bottom: 10px;}
    .music1{position:relative;width: 50%;float: left}
    .music2{position:relative;width: 50%;float: right}
    .teacher{
        font-size:20px;
        padding:10px 0 10px 0;
    }
    .teacher1{
        font-size:40px;
    }
    .teacher2{
        font-size:30px;
    }
    .description{
        padding: 0;
    }
    .descriptionTitle {
        line-height: 100%
    }
}

.ul-horizontal a{
    color: #0f0f0f;
    line-height: 200%;
}
.ul-horizontal li{
    color: #0f0f0f;
    line-height: 200%;
}
.ul-horizontal img{
    width: 120px;
    padding:10px;
}

.btn {
    text-align: center;
    background-color: #205f8a;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    padding: 0.75em 1em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
.btn:hover {
    background-color: #84bade;
    color: white;
}
.btn-1 {
    background-color:#ff9a00;
}
.btn-1:hover {
    background-color: #ffb846;
}

.news-date {
    background-color: #84bade;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
    font-size: 1.2em;
    color: white;
}

.pageBanner {
    margin-top: 80px;
}
.pageBanner img{
    width: 100%;
    height: 300px;
}
@media (max-width: 767px) {
    .pageBanner {
        margin-top: 70px;
    }
    .pageBanner img{
        height: 150px;
    }
}
/*---图片页面---*/

#masonry
{
    padding: 0;
    min-height: 450px;
    margin: 0 auto;
}
#masonry .thumbnail
{
    /*width: 330px;*/
    margin: 10px;
    padding: 0;
    border-width: 1px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
#masonry .thumbnail .imgs
{
    padding: 10px;
}
#masonry .thumbnail .imgs img
{
    margin-bottom: 5px;
}
#masonry .thumbnail .caption
{
    background-color: #fff;
    padding-top: 0;
    font-size: 13px;
}
#masonry .thumbnail .caption .title
{
    font-size: 13px;
    font-weight: bold;
    margin: 5px 0;
    text-align: left;
}
#masonry .thumbnail .caption .author
{
    font-size: 11px;
    text-align: right;
}

/*---------newsIndex---------*/
.newsIndexList { padding:70px 0}
.newsIndexList dd { width:350px; height:auto; margin:0 75px; float:left; display:inline; line-height:22px; color:#555656}
.newsIndexList dd h3{ height:30px; margin-bottom:10px; color:#2c2e2e; font-size:22px; font-weight:normal; border-bottom:1px solid #b4b4b4}

/*---------news-------*/
.newsbottom { border-bottom:1px dashed #e0e0e0; padding:5px}

 a.red:link,.newslist li a.red:visited { color:#d01a14;}
 a.red:hover { color:#d01a14;}
 a.redStrong:link,.newslist li a.redStrong:visited { color:#d01a14; font-weight:bold;}
 a.redStrong:hover { color:#d01a14; font-weight:bold;}

 a.yellow:link,.newslist li a.yellow:visited { color:#ff9b00;}
 a.yellow:hover { color:#ff9b00;}
 a.yellowStrong:link,.newslist li a.yellowStrong:visited { color:#ff9b00; font-weight:bold;}
 a.yellowStrong:hover { color:#ff9b00; font-weight:bold;}

 a.blue:link,.newslist li a.blue:visited { color:#00F;}
 a.blue:hover { color:#00F;}
 a.blueStrong:link,.newslist li a.blueStrong:visited { color:#00F; font-weight:bold;}
 a.blueStrong:hover { color:#00F; font-weight:bold;}

.newsNav { height:48px; padding-top:13px; padding-left:1px}
.newsNav li { width:110px; height:48px; text-align:center; border:1px solid #e0e0e0; position:relative; float:left; margin:0 0 0 -1px; border-bottom:none}
.newsNav li a {width:114px;height:48px; font:18px/48px "微软雅黑"; position:absolute; top:0; left:0}
.newsNav li a.current {background:url(../images/newsNavCur.png) no-repeat; color:#ff9e00; top:0; left:0}
.newsNav li a:hover { text-decoration:none}

.innerNewsTit {text-align:center; line-height:200%;font-size:14px; font-weight:bold;border-bottom:1px solid #e7e7e7}
.publishTime {text-align:center; border-bottom:1px dashed #e0e0e0; height:30px; line-height:30px; color:#999}
.innerCon { width:600px; padding:20px 0; line-height:24px}
.innerCon img { max-width:600px; border:2px solid #999}
.innerCon p { margin-bottom:10px}
.newsInnerShow { padding:100px 0 20px 0}

.shadowScroll {width:290px;height:310px;position:relative; padding:9px 0 0 0;}
.shadowScroll_photo {width: 290px;height: 310px; position:absolute;overflow:hidden}
.shadowScroll_photo img{ width:290px; height:310px;}
.shadowScroll_photo a.ch_adG {position: absolute}
.shadowScroll_control {width:88%;height:23px;text-align:right; padding:5px 0 0 0; position:absolute; right:15px; bottom:0; z-index:20;}
.shadowScroll_control a { margin:0 4px 0 0; width:13px; height:13px;display:inline-block; text-indent:-9999px; background:#fff;opacity: 0.3; -moz-opacity: 0.3; filter: alpha(opacity=30)}
.shadowScroll_control a.on,.shadowScroll_control a.current{opacity: 0.8; -moz-opacity: 0.8; filter: alpha(opacity=80)}
.shadowScroll_over {width:100%;height:30px; position:absolute; display:none; left:0; bottom:0; z-index:15; background:#000;opacity: 0.6; -moz-opacity: 0.6; filter: alpha(opacity=60)}
.shadowScroll_control_left a,.shadowScroll_control_right a { width:43px; height:43px; text-indent:-9999px; outline:none; display:none;position:absolute; top:100px;z-index:30; }

#ScrollSpe { width:722px; padding-left:10px}
#ScrollSpe .shadowScroll_photo {width: 722px;}
#ScrollSpe .shadowScroll_photo img{ width:722px;}

/*---------翻页---------*/
.page_turn {color: #8c8d92; padding: 15px 0; font-size:12px; font-weight:bold}
.page_turn a{ background:#d2d2d2;color: #575757;margin: 0 2px;padding: 4px 9px;}
.page_turn a:link,.page_turn a:visited {color: #fff;}
.page_turn a:hover {color:#fff;}
.page_turn a:hover,.page_turn a.current {color:#fff;background:#999; text-decoration:none}

/*---------content---------*/
.mainContent{ width:100%;min-height:91%;background:#ffffff; padding:10px 0 0 15px;}
.content { width:80%;min-height:91%; margin:50px auto;border-radius: 10px;border: 1px solid #eee}
.content1 { width:80%;min-height:91%;}
.pageTit { height:47px;font:normal 24px/47px "微软雅黑";text-indent:22px; position:relative; }
.conBase { padding:0 40px;}
.conBase p { margin-bottom:15px; line-height: 150%}

@media (max-width: 767px) {
    .content { width:95%;}
    .content1 { width:100%;}
    .conBase { padding:0 20px;}
}

/*---------轮播---------*/
.marqueeScroll { width:100%; margin:0 auto;padding:20px 0 0 22px;position:relative; background:#fff}
.marqueeScroll_con {width:98%;height:160px;overflow:hidden }/*显示宽度 是li的倍数*/
.marqueeScroll_con ul { margin-left:0;}
.marqueeScroll_con ul li { width:115px;height:160px;float:left; position:relative; color:#929292}
.marqueeScroll_con ul li img {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:15px;
}
.marqueeScroll_con ul li p { padding-right:9px}
.marqueeScroll_con ul li a { display:block}.marqueeScroll_con ul li a.current i { width:106px; height:106px; position:absolute; top:0; left:-1px; background:url(../images/bgVideo.png) no-repeat}
.marqueeScroll_control_left a,.marqueeScroll_control_right a {width:15px; height:32px; background:url(../images/main.png) no-repeat -184px -198px; text-indent:-9999px; outline:none;position:absolute; top:60px; z-index:30;}
.marqueeScroll_control_left a { left:5px;}
.marqueeScroll_control_right a { background-position:-184px -230px;right:-10px;}
/*---------case---------*/
.case { width:100%; background:#FFF; padding:15px 0}

/*-----about---*/
.map{
    border: 0;width: 80%;height: 400px;
}
@media (max-width: 767px) {
    .map{
        width: 100%;height: 200px;
    }
}