body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,a {margin:0;padding:0;}

img {border-style:none;}
ul,li {list-style-type:none;}
form {margin:0;padding:0;}
body {font-size:87.5% !important;font-family:"微软雅黑","Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;color:#313030;line-height:150%; background:#fff;}
.clearboth {line-height:0px;height:0px;clear:both;*display:inline; font-size:0px;}

button{margin:0;padding:0;border:0; cursor:pointer}
i,em{ font-style:normal}

@media all and (min-width: 768px) {
    h1 {font-size: 30px; color: #666;}
    h2 {font-size: 24px; color: #666;}
    h3 {font-size: 22px; color: #666;}
    h4 {font-size: 18px; color: #666;}
    h5 {font-size: 16px; color: #666;}
    h6 {font-size: 14px; color: #666;}

    .lineHeight {line-height: 300%;}
    .lineHeight1 {line-height: 200%;}
    .marginTop {margin-top:80px}
    .marginTop1 {margin-top:50px}
    .marginBottom {margin-bottom: 50px}
    .padding {padding: 10px 100px 100px 100px;}
}
@media all and (max-width: 768px) {
    h1 {font-size: 24px; color: #666;}
    h2 {font-size: 20px; color: #666;}
    h3 {font-size: 16px; color: #666;}
    h4 {font-size: 14px; color: #666;}
    h5 {font-size: 12px; color: #666;}
    h6 {font-size: 10px; color: #666;}

    .lineHeight {line-height: 150%;}
    .lineHeight1 {line-height: 150%;}
    .marginTop {margin-top:20px}
    .marginTop1 {margin-top:20px}
    .marginBottom {margin-bottom: 20px}
    .padding {padding: 10px 0px 0px 0px;}
}

a:visited,a:link {color:#ccc;text-decoration:none;border-style:none;}
a:hover {color:#222;text-decoration:underline;border-style:none;}

.margin_auto {margin-right:auto;margin-left:auto;}
.margin_top10 {margin-top:10px;}
.margin_top5 {margin-top:5px;}

.txtR {text-align: right;}
.txtL { text-align: left;}
.txtC { text-align: center;}

.fl{float: left;}
.fr{float: right;}

.line {height:1px;line-height:0;font-size:0;border-bottom:1px solid #e3e3e3; margin:20px 0}

/* new clearfix */
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
* html .clearfix{ zoom: 1;}/*IE6*/
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


/*--------General----------*/
a{text-decoration:none;}
a:hover{text-decoration:underline;}

/** 头部icon start **/
.iconTitle span{
    color: bisque;
    font-size: large;
}
.iconImg {
    width: 100px;
    height: 100px;
    display: none;
}
span:hover + .iconImg {
    display: block;
}
/** 头部icon end **/

/** 6张图片 start **/
.musicDescription {
    position:absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
}
.musicImg6{
    position:absolute;
    width: 100%;
    overflow: hidden;
    display:block;
}

/** 6张图片 end **/

.padding {
    padding: 20px 10px 0 10px;
}

.paddingrow {
    padding: 20px 0 20px 0;
}

.description {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    height: auto;
    color: #313030;
    line-height: 150%;
    text-align: left;
}

.descriptionTitle {
    color: #313030;
    line-height: 200%
}

.more {
    padding:10px 20px;
    background-color: #18b1da;
    color:white;
    width:100px;
    border-radius: 5px;
}

/*---------翻页---------*/
.page_turn {color: #8c8d92; padding: 15px 0; font-size:12px; font-weight:bold}
.page_turn a{ background:#d2d2d2;color: #575757;margin: 0 2px;padding: 4px 9px;}
.page_turn a:link,.page_turn a:visited {color: #fff;}
.page_turn a:hover {color:#fff;}
.page_turn a:hover,.page_turn a.current {color:#fff;background:#999; text-decoration:none}
/*---------翻页---------*/


.center-vertical{
    position: relative;
    top: 50%;
    display: block;
    transform: translateY(-50%);
}
