body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,a {margin:0;padding:0;}

img {border-style:none;}
ul,li {list-style-type:none;}
form {margin:0;padding:0;}
body {font-size:87.5% !important;font-family:"微软雅黑","Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;color:#313030;line-height:150%; background:#fff;}
.clearboth {line-height:0px;height:0px;clear:both;*display:inline; font-size:0px;}

button{margin:0;padding:0;border:0; cursor:pointer}
i,em{ font-style:normal}

@media all and (min-width: 768px) {
    h1 {font-size: 30px; color: #666;}
    h2 {font-size: 24px; color: #666;}
    h3 {font-size: 22px; color: #666;}
    h4 {font-size: 18px; color: #666;}
    h5 {font-size: 16px; color: #666;}
    h6 {font-size: 14px; color: #666;}

    .lineHeight {line-height: 300%;}
    .lineHeight1 {line-height: 200%;}
    .marginTop {margin-top:80px}
    .marginTop1 {margin-top:50px}
    .marginBottom {margin-bottom: 50px}
    .padding {padding: 10px 100px 100px 100px;}
    .padding1 {padding-left: 40px;padding-right:40px;}
}
@media all and (max-width: 768px) {
    h1 {font-size: 24px !important; }
    h2 {font-size: 20px !important; }
    h3 {font-size: 18px !important; }
    h4 {font-size: 16px !important; }
    h5 {font-size: 14px !important; }
    h6 {font-size: 12px !important; }

    .lineHeight {line-height: 150%;}
    .lineHeight1 {line-height: 150%;}
    .marginTop {margin-top:20px}
    .marginTop1 {margin-top:20px}
    .marginBottom {margin-bottom: 20px}
    .padding {padding: 10px 0px 0px 0px;}
    .padding1 {padding-left: 5px;padding-right:5px;}
}

a:visited,a:link {color:#666;text-decoration:none;border-style:none;}
a:hover {color:#222;text-decoration:underline;border-style:none;}

.margin_auto {margin-right:auto;margin-left:auto;}
.margin_top10 {margin-top:10px;}
.margin_top5 {margin-top:5px;}
.margin_head {margin-top:80px;}


.txtR {text-align: right;}
.txtL { text-align: left;}
.txtC { text-align: center;}

.fl{float: left;}
.fr{float: right;}

.line {height:1px;line-height:0;font-size:0;border-bottom:1px solid #e3e3e3; margin:20px 0}

/* new clearfix */
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
* html .clearfix{ zoom: 1;}/*IE6*/
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


/*--------General----------*/
a{text-decoration:none;}
a:hover{text-decoration:underline;}

/** 头部icon start **/
.iconTitle span{
    color: bisque;
    font-size: large;
}
.iconImg {
    width: 100px;
    height: 100px;
    display: none;
}
span:hover + .iconImg {
    display: block;
}
/** 头部icon end **/

/** 6张图片 start **/
.musicDescription {
    position:absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
}
.musicImg6{
    position:absolute;
    width: 100%;
    overflow: hidden;
    display:block;
}

/** 6张图片 end **/

.padding {
    padding: 20px 10px 0 10px;
}

.paddingrow {
    padding: 20px 0 20px 0;
}

.description {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    height: auto;
    color: #313030;
    line-height: 150%;
    text-align: left;
}

.descriptionTitle {
    color: #313030;
    line-height: 200%
}

.more {
    padding:10px 20px;
    background-color: #18b1da;
    color:white;
    width:100px;
    border-radius: 5px;
}

.detail {
    padding: 5px 10px;
    background-color: #e6e3de;
    color: white;
    width: 100px;
    border-radius: 5px;
}

/*---------翻页---------*/
.page_turn {color: #8c8d92; padding: 15px 0; font-size:12px; font-weight:bold}
.page_turn a{ background:#d2d2d2;color: #575757;margin: 0 2px;padding: 4px 9px;}
.page_turn a:link,.page_turn a:visited {color: #fff;}
.page_turn a:hover {color:#fff;}
.page_turn a:hover,.page_turn a.current {color:#fff;background:#999; text-decoration:none}
/*---------翻页---------*/


.center-vertical{
    position: relative;
    top: 50%;
    display: block;
    transform: translateY(-50%);
}

/*--浮窗联系方式--*/
/* 必要布局样式css */
.suspension {
    width: 46px;
    height: 210px;
    position: fixed;
    right: 10px;
    bottom: 30px;
    z-index: 999;
}

.suspension .consult {
    background-image: url(../img/top-icon.png);
    background-repeat: no-repeat;
    background-position: center -1px;
    background-color: #0af;
    display: block;
    position: relative;
    width: 46px;
    height: 46px;
}

.suspension .consult .suspension-list {
    position: absolute;
    width: 240px;
    right: -29px;
    top: -230px;
    z-index: 30;
    display: none;
}

.suspension-list-content {
    position: absolute;
    width: 280px;
    right: 85px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,.15);
}

.suspension-list ul {
    margin: 20px 10px;
}

.suspension-list ul li {
    position: relative;
    display: list-item;
    width: 100%;
    height: auto;
    padding: 16px 0;
    margin-top: 10px;
    overflow: hidden;
    border-top: 1px solid #f4f4f4;
}

.suspension-list ul li:first-child {
    padding-top: 0;
    border-top: none;
}

.suspension-list ul .suspension-list-bottom {
    margin-bottom: 0;
    padding-bottom: 0;
}

.suspension-list-bottom .info-value {
    font-size: 12px;
    font-weight: inherit;
    color: #999;
}

.suspension-list ul li:first-child {
    margin-top: 0;
}

.service-phone, .service-qq, .service-proposal {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.service-phone {
    background-image: url(../img/suspend_icon_01.png);
}

.service-phone:hover {
    background-image: url(../img/suspend_icon_01_blue.png)
}

.service-qq {
    background-image: url(../img/suspend_icon_03.png);
}

.service-qq:hover {
    background-image: url(../img/suspend_icon_03_blue.png);
}

.service-proposal {
    background-image: url(../img/suspend_icon_02.png);
}

.service-proposal:hover {
    background-image: url(../img/suspend_icon_02_blue.png)
}

.info-name {
    display: block;
    padding-left: 52px;
    height: 14px;
    font-size: 14px;
    color: #333;
}

.info-value {
    display: block;
    padding-left: 52px;
    margin-top: 8px;
    height: 18px;
    font-size: 18px;
    font-weight: 700;
    color: #f90;
}

.suspension span.consult:hover .suspension-list {
    display: inline !important;
}

.suspension .cart {
    background-image: url(../img/top-icon.png);
    display: block;
    position: relative;
    width: 46px;
    height: 46px;
    margin-top: 10px;
    border: 1px solid #bcbcbc;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
}

.suspension span.cart:hover .pic {
    display: block;
}

.suspension .back-top {
    background-image: url(../img/top-icon.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    display: block;
    width: 46px;
    height: 46px;
    border: 1px solid #bcbcbc;
    background-color: #fff;
    -webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
    margin-top: 10px;
}

.suspension .cart .pic {
    display: none;
    position: absolute;
    left: -139px;
    top: -120px;
    width: 139px;
    height: 163px;
}

.pic-content {
    position: absolute;
    width: 139px;
    height: 163px;
    border: 1px solid #ddd;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,.15);
    background: url(../img/ewm.jpg) center no-repeat;
    right: 10px;
}
